name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      - name: Use Node.js 14.x
        uses: actions/setup-node@v3.1.1
        with:
          node-version: 14.x
          registry-url: https://registry.npmjs.org
          cache: 'yarn'

      - name: Install
        run: yarn

      - name: Build
        run: yarn run build

      - name: Lint
        run: yarn run lint

      - name: Test
        run: yarn run test

      - name: Create github release
        if: startsWith(github.ref, 'refs/tags/v')
        run: npx conventional-github-releaser -p angular
        env:
          CONVENTIONAL_GITHUB_RELEASER_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: (Prod) Configure AWS Credentials
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/lds-export-cache'
        uses: aws-actions/configure-aws-credentials@v1.6.1
        with:
          aws-region: ap-southeast-2
          mask-aws-account-id: true
          role-to-assume: ${{ secrets.AWS_ROLE_PROD }}

      - name: (Prod) Deploy
        if: github.ref == 'refs/heads/master' && github.repository == 'linz/lds-export-cache'
        run: |
          npx cdk deploy
        env:
          NODE_ENV: "production"
          CACHE_BUCKET_NAME: "linz-lds-cache"
